<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMART GREENHOUSE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>

    <div class="title3">
        <span>{{ Device }}</span>
    </div>

    <div class="container1">

        <div class="card-container">
            <div class="container2">
                <div class="card-row">
                    <div class="title4">
                        <span>Manual Control</span>
                    </div>
                    <div class="card-control2">
                        <label for="fan" class="check card-image-new"><a href="#" id="abc_1" onclick="updateLink(this,device)"  type="button" class="btn btn-primary btn-lg">{{ status_manual }}</button></a></label>
                    </div>
                </div>
            </div>
            <div class="container2">
                <div class="card-row">
                    <div class="title4">
                        <span>Auto Control</span>
                    </div>
                    <div class="card-control2">
                        <label for="fan" class="check card-image-new"><a href="#" id="abc_1" onclick="updateLinkAuto(this,device)"  type="button" class="btn btn-primary btn-lg">{{ status_auto }}</button></a></label>
                    </div>
                </div>
                <div class="card-row">
                    <span>From</span><input id="from" name="from" type="time">
                    <span>To</span><input id="to" name="to" type="time">
                </div>

            </div>
        </div>
    </div>

    <script>
        let device = '{{ Device }}'; // get from Flask
        function updateLink(a, device) {
            var url = '/control.html/';
            var result = url.concat(device);

            //redirect 
            location.href = result;
        }

        function updateLinkAuto(a, device) {
            var from = document.getElementById("from").value;
            var to = document.getElementById("to").value;
            var url = '/control.html/';
            var result = url.concat(device, '_', from, '_', to);

            //redirect 
            location.href = result;
        }
    </script>
</body>

</html>